<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
	<connectionStrings>
		<add name="aspnetdbEntities" connectionString="metadata=res://*/Data.PSBData.csdl|res://*/Data.PSBData.ssdl|res://*/Data.PSBData.msl;provider=System.Data.SqlClient;provider connection string='data source=.\SQLEXPRESS;attachdbfilename=&quot;E:\Computer Science\C#\n-tier-apps-part1\materials\1-n-tier-apps-part1-m1-exercise-files\before\PluralSightBook\PluralSightBookWebsite\App_Data\aspnetdb.mdf&quot;;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework;user instance=True'" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<appSettings>
		<add key="userEmailAddress" value="sunny@gmail.com"/>
		<add key="baseApiAddress" value="https://localhost:44363/" />
	</appSettings>
</configuration>